* {
    text-align: center;
  }
  
  body {
    font-family: "Roboto Mono", monospace;
    color:white;
    min-height: 400px;
    background-image: url("https://img.freepik.com/free-photo/close-up-athlete-playing-soccer_23-2150845598.jpg?t=st=1700254995~exp=1700258595~hmac=d099c03ac58dcfa926618d9ee655306baaf81cc93e4d0196135a75a510a9a224&w=900");
    background-color: #111;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .container_back{
    background-color: rgba(0,0,20,0.85);
  }
  
  .container {
    text-align: center;
    padding: 20px;
    height: 100vh;
  }
  
  .page-title {
    color: #ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  table {
    border: 2px solid white;
    border-collapse: collapse;
  }
  
  h1 {
    color: white;
  }
  
  th,
  tr,
  td {
    border: solid 1px white;
    color: white;
  }
  
  button {
    background-color: #002351;
    color: #f6f6f6;
  }
  